module_1/00-data/*
module_1/00-reads/*
module_1/01-gstacks/*
module_1/02-bcftools_call/*
module_1/03-vcftools_filter/*
module_1/04-bcftools_merge/*
module_1/05-python_filter/*
module_2/06-genomic_diversity/*
module_1/logs/*
module_2/logs/*
.snakemake/
*.log
